*{
    padding: 0;
    margin: 0;
}

body{
    background-color: antiquewhite;
}

.main{
text-align: center;
padding: 10px;
margin:170px 250px;
}

.counter{
    font-size: 30px;
    font-weight: bold;
    color:navy;
}

.count{
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.button{
    padding:10px;
}

.button button{
    padding:5px;
    border-radius: 4px;
}

.button button:hover{
    border-color: orange;
}


