*{
    padding: 0;
    margin: 0;
}

.main{
    border: 2px solid black;
    border-radius:2px;
    padding: 10px;
    margin-left: 300px;
    margin-top:200px;
    width:60%;
    height:50%;
    
}

.headings h2{
    text-transform: uppercase;
    padding-top:10px;
    text-align: center;
    
}
.headings p{
    padding: 10px;
    
}

.guessArea{
    padding: 10px;
}

.resultArea{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 90px;
    height:20px;
}

.resultArea p{
   padding-top: 10px;
}

.lastGuesst{
    visibility: hidden;   
 }

 .lastGuess{
    display: inline;  
 }

.newGame{
   visibility: hidden;   
}